.mule/plugins-tmp/repository/4.5.1/com/mulesoft/munit/munit-tools/3.0.0/munit-tools-3.0.0-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/munit-tools" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="AssertType" substitutionGroup="mule:abstract-operator" name="assert"></xs:element>
  <xs:complexType name="AssertType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="that"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" default="Assertion failed" name="message"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="AssertEqualsType" substitutionGroup="mule:abstract-operator" name="assert-equals"></xs:element>
  <xs:complexType name="AssertEqualsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="xs:string" use="required" name="actual"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="expected"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="message"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="AssertThatType" substitutionGroup="mule:abstract-operator" name="assert-that"></xs:element>
  <xs:complexType name="AssertThatType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="xs:string" use="required" name="expression"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="is"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="message"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ClearStoredDataType" substitutionGroup="mule:abstract-operator" name="clear-stored-data"></xs:element>
  <xs:complexType name="ClearStoredDataType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DequeueType" substitutionGroup="mule:abstract-operator" name="dequeue"></xs:element>
  <xs:complexType name="DequeueType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="queueName"></xs:attribute>
        <xs:attribute type="mule:expressionLong" use="optional" default="10000" name="timeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/munit-tools" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="MILLISECONDS" name="timeoutUnit"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FailType" substitutionGroup="mule:abstract-operator" name="fail"></xs:element>
  <xs:complexType name="FailType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="message"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="MockWhenType" substitutionGroup="mule:abstract-operator" name="mock-when"></xs:element>
  <xs:complexType name="MockWhenType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="with-attributes">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-with-attribute"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="then-return">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.Event"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="then-call">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.FlowName"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="processor"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="withAttributes"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="thenReturn"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="thenCall"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.Attribute">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="attributeName"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="whereValue"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" type="munit-tools:org.mule.munit.common.model.Attribute" abstract="true" name="abstract-with-attribute"></xs:element>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" substitutionGroup="munit-tools:abstract-with-attribute" name="with-attribute">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="munit-tools:org.mule.munit.common.model.Attribute"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.munit.common.model.Payload">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.EventAttributes">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.EventError">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="optional" name="typeId"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="cause"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="id"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="exception"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.Variable">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" type="munit-tools:org.mule.munit.common.model.Variable" abstract="true" name="abstract-variable"></xs:element>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" substitutionGroup="munit-tools:abstract-variable" name="variable">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="munit-tools:org.mule.munit.common.model.Variable"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.munit.common.model.Property">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" type="munit-tools:org.mule.munit.common.model.Property" abstract="true" name="abstract-property"></xs:element>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" substitutionGroup="munit-tools:abstract-property" name="property">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="munit-tools:org.mule.munit.common.model.Property"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.munit.common.model.Attachment">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="mediaType"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="encoding"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" type="munit-tools:org.mule.munit.common.model.Attachment" abstract="true" name="abstract-attachment"></xs:element>
  <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" substitutionGroup="munit-tools:abstract-attachment" name="attachment">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="munit-tools:org.mule.munit.common.model.Attachment"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.munit.common.model.Event">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="payload">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.Payload"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="attributes">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.EventAttributes"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="error">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" base="munit-tools:org.mule.munit.common.model.EventError"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="variables">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-variable"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="session-properties">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-property"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="inbound-properties">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-property"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="outbound-properties">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-property"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="inbound-attachments">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-attachment"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="outbound-attachments">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-attachment"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="optional" name="payload"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="attributes"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="error"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="variables"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="sessionProperties"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="inboundProperties"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="outboundProperties"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="inboundAttachments"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="outboundAttachments"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="org.mule.munit.common.model.FlowName">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="flow"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="QueueType" substitutionGroup="mule:abstract-operator" name="queue"></xs:element>
  <xs:complexType name="QueueType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="value"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="optional" name="queueName"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RemoveType" substitutionGroup="mule:abstract-operator" name="remove"></xs:element>
  <xs:complexType name="RemoveType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RetrieveType" substitutionGroup="mule:abstract-operator" name="retrieve"></xs:element>
  <xs:complexType name="RetrieveType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="RunCustomType" substitutionGroup="mule:abstract-operator" name="run-custom"></xs:element>
  <xs:complexType name="RunCustomType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="assertion"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="expression"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="params"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SleepType" substitutionGroup="mule:abstract-operator" name="sleep"></xs:element>
  <xs:complexType name="SleepType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionLong" use="required" name="time"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/munit-tools" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="MILLISECONDS" name="timeUnit"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="StoreType" substitutionGroup="mule:abstract-operator" name="store"></xs:element>
  <xs:complexType name="StoreType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="value"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="key"></xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="failIfPresent"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Store-oauth-tokenType" substitutionGroup="mule:abstract-operator" name="store-oauth-token"></xs:element>
  <xs:complexType name="Store-oauth-tokenType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="additional-parameters"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="accessToken"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="objectStore"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="ownerConfigName"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="resourceOwnerId"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="refreshToken"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="expiresIn"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="state"></xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="overwrite"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="VerifyCallType" substitutionGroup="mule:abstract-operator" name="verify-call"></xs:element>
  <xs:complexType name="VerifyCallType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="with-attributes">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-with-attribute"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="processor"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="withAttributes"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="times"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="atLeast"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="atMost"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SpyType" substitutionGroup="mule:abstract-operator" name="spy"></xs:element>
  <xs:complexType name="SpyType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="with-attributes">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" minOccurs="0" maxOccurs="unbounded" ref="munit-tools:abstract-with-attribute"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="before-call">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="after-call">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                  <xs:sequence minOccurs="1">
                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                      <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
                    </xs:choice>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="processor"></xs:attribute>
        <xs:attribute type="mule:substitutableName" use="optional" name="withAttributes"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>